body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://i.pinimg.com/736x/c9/f2/f5/c9f2f5b3c622a15d3a4090d70e7719b9.jpg');
    /* Your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    color: rgb(127, 119, 216);
}

.topics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topic {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: rgba(200, 47, 205, 0.7); /* Colorful background */
    border-radius: 10px;
    background-image: linear-gradient(135deg, #12110c, #ff6699); /* Gradient overlay */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.highlight {
    color: #ffcc00;
    text-decoration: none;
}

.highlight:hover {
    color: #ff9900;
}
